body{
	font-family: 'Arimo', sans-serif;
	background-color: transparent;
}

.header {
	margin-bottom: 20px;
}

#container{
   text-align:left;
   width:1440px;
   margin: 0 auto;
}

#checkboxes{
	overflow-y: auto;
	float:left;
    vertical-align:text-center;
    background:#E8E8E8;
    width:220px;
    height:600px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-right: 1px solid #D8D8D8;
}
#checkboxes p { margin: 0; }
#checkboxes hr { 
    margin: 4px 0; 
    color: gray; 
    background-color: #D8D8D8;
    height: 1px;
}

#resultsWrapper {
    margin-left: 5px;
}
#results{
	overflow-y: auto;
	margin-bottom: 20px;
    background:#E8E8E8;
    width:1200px;
    height:600px;
}

#text_search{
	overflow-y: auto;
	width: 1200px;
	height: 40px;
	background:#C8C8C8;
}

#resultsTable {
	width: 100%;
}

#textBox {
	margin-top: 10px;
	margin-bottom: 10px;
}


tr {
	border-top: 2px solid #777777;
	border-bottom:  2px solid #777777;
}

td {
	padding: 8px 10px 8px 10px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

label.cat1 {
    font-size: 14px;
	margin-left: 14px;
	font-weight: normal;
}
label.cat2 {
    font-size: 12px;
	margin-left: 30px;
    font-weight: normal;
}
input[type="checkbox"].cat1 {
	margin: 0 5px 0 0px;
}
input[type="checkbox"].cat2 {
	margin: 0 5px 0 0;
}
